/* Main  */

body {
  background-color: hsl(233, 47%, 7%);
}

/* Main Card */

.main-card {
  background-color: hsl(244, 38%, 16%);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Hero Image */

.hero-image {
  background-color: hsl(277deg, 97%, 35%);
  width: fit-content;
  float: right;
  margin: 0;
}

.hero-image img {
  opacity: 0.5;
  vertical-align: bottom;
}

/* Header  */

/* Subtext */

/* Statistics */

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
}
